/* Seletores: tags, ID's e Classes */

h3 {
  font-weight: 1000;
  color: aqua;
}
/* tag */

#paragrafo-inicio1,
#paragrafo-inicio2,
#paragrafo-inicio3 {
  color: chartreuse;
}
/* ID */

.paragrafo {
  color: coral;
}
/* Classes */

.div1 {
  color: rgb(255, 223, 80);
  font-size: 24px;
}
